node_modules/
playwright-report/
test-results/
blob-report/
playwright/.cache/
.auth/
.env
*.log

allure-results/
allure-report/
test-results/

allure-results/
allure-report/
test-results/
playwright-report/
.git/

allure-results/
allure-report/
test-results/
playwright-report/
